@import url("https://fonts.google.com/");
html{
    scroll-behavior:smooth;
}
*{
    padding:0px;
    margin:0px;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color:rgb(0, 0, 0);
    color:white;
}
#header .container{
    padding-left:3%;
}
.logo{
    display: flex;
}
.logo img{
    width:40px;
    margin-right: 20px;
}
.logo h1{
    margin: 0px auto 0px;
}
h1{
    color: rgb(24, 180, 198);
    font-size: 50px;
    margin:20px 0px 40px;
}
h2{
    margin: 20px 0 20px;
    color: rgb(24, 180, 198);
}
*p{
    font-size:20px;
}
.content i{
    font-size: 40px;
    color: white;
}
.images{
    width:300px;
    height: auto;
    border-radius: 5px;
}
.images:hover{
    cursor:pointer;
    border:3px solid rgb(24, 180, 198);
    border-radius:10px;
}
.container{
    padding:10px 5%;
}
#header{
    width:100%;
    min-height:100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
nav h1{
    font-size:50px;
    color: rgb(24, 180, 198);
    align-self: center;
}
nav ul li{
    list-style:none;
    display: inline;
    margin: 10px 15px;
    position:relative;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.links li a::after{
    content:'';
    width:0px;
    height:3px;
    background-color:rgb(24, 180, 198);;
    position: absolute;
    left:0px;
    bottom:-6px;
    transition: 0.5s;
}
.links li a:hover::after{
    width:100%;
}
.content{
    text-align: center;
    height:80vh;
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 100px 50px;
    font-size: 20px;
}
.content span{
    color: white;
}
.content h1{
     color:rgb(24, 180, 198);
}
.content h3{
    margin-top: 30px;
    color:rgb(24, 180, 198);
}
.content p{
    margin-top: 20px;
}
.content img{
    width: 300px;
    margin:30px;
    border-radius: 20px;
}
.imagerow{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.imagess.active-img{
    animation-name:slide;
    animation-duration:2s;
    animation-timing-function: linear;
    animation-iteration-count:1;
}
@keyframes slide{
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}
.project-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:40px 40px ;
    padding: 40px 40px;
    gap:40px;
}
.pro{
    width: 300px;
}
.grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:100px;
}
.right-column p{
    font-size: 20px;
    margin-bottom: 15px;
}
.right-column{
    display: flex;
    flex-direction: column;
    
}
.tab-link{
    display:grid;
    grid-template-rows: repeat(2,auto);
    gap:20px
}
.tab-links{
    display: inline;
    font-size: 30px;
    margin: 100px 20px 20px 0px;
    position: relative;
}
.tab-links::after{
    content:'';
    width:0px;
    height:3px;
    background-color:rgb(24, 180, 198);
    position: absolute;
    left:0px;
    bottom:-6px;
    transition: 0.5s;
}
.tab-links.active-link:hover::after{
    width:100%;
}
h3{
    margin-left:20px;
}
.tab-content h2,h3{
    margin:20px 0px 5px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#aboutme .container img{
    width:100%;
    margin-top:20px;
    border-radius: 10px;
}
.para{
    font-size: 20px;
}
#certifications .container{
    width: 100%;
    /*display: flex;
    flex-direction: column;*/
    align-content: center;
    justify-content: center;
}
.courses{
    display:flex;
    flex-direction: column;
    width:100%;
    border: 2px solid rgb(24, 180, 198);
    border-radius: 4px;
    padding: 20px;
    margin:10px 5%;
    position: relative;
    justify-self:center;
}
.courses img{
    width: 150px;
    position: absolute;
    right: 50px;
    top:10px;
}
#contactme{
    width:100%;
    justify-content: center;
}
#contactme .container{
    width: 100%;
}
.form{
    background-color: rgb(31, 30, 30);
    border: none;
    border-radius: 10px;
    margin:40px 80px ;
    padding: 40px 40px;
    display: grid;
    height: auto;
    width:900px;
    grid-template-columns:1fr 3fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
label{
    font-size: 20px;
}
input{
    background-color: gray;
    color: white;
    height:40px;
    border-radius: 4px;
    padding:20px 20px;
    outline: none;
    border: none;
}
label{
    color:rgb(255, 255, 255);
}
textarea{
    background-color: gray;
    color: white;
    border-radius: 4px;
    padding:20px 20px;
    outline: none;
    border: none;
}
#message{
    align-self: start;
}
button{
    background-color:rgb(5, 181, 200);
    color: white;
    grid-column: 2/3;
    justify-self:center;
    padding:10px 50px;
    cursor: pointer;
    border-radius: 6px;
}
button:hover{
    background-color:rgb(3, 59, 64);
    color: rgb(202, 201, 201);
}
#msg{
    grid-column-start: 2;
    text-align: center;
    color:rgb(24, 180, 198);
    margin-top: 10px;
    font-size: 20px;
}
#copyright{
    background-color: gray;
    width: 100%;
    height: 70px;
    text-align: center;
    padding:15px;
    margin:0px;
}
#heart{
    color:rgb(24, 180, 198);
}
