@import url("https://fonts.google.com/");
html{
    scroll-behavior:smooth;
}
*{
    padding:0px;
    margin:0px;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
img{
    margin: 0;
}
body{
    background-color:rgb(0, 0, 0);
    color:white;
}
#header .container{
    padding-left:4%;
}
.logo{
    display: flex;
}
.logo img{
    width:40px;
    margin-right: 20px;
}
.logo h1{
    margin: 0px auto 0px;
}
h1{
    color: rgb(24, 180, 198);
    font-size: 50px;
    margin:20px 0px 40px;
}
h2{
  
    margin: 20px 0 20px;
    color: rgb(24, 180, 198);
}
.content i{
    font-size: 40px;
    color: white;
}
.images{
    width:300px;
    height: auto;
    border-radius: 5px;
}
.images:hover{
    cursor:pointer;
    border: none;
    box-shadow:1px 2px 6px;
}
.container{
    padding:10px 5% auto 0px;
    margin-bottom:200px;
}
#header{
    width:100%;
    min-height:100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
nav h1{
    font-size:50px;
    color: rgb(24, 180, 198);
    align-self: center;
}
nav ul li{
    list-style:none;
    display: inline;
    margin: 10px 15px;
    position:relative;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.links li a::after{
    content:'';
    width:0px;
    height:3px;
    background-color:rgb(24, 180, 198);;
    position: absolute;
    left:0px;
    bottom:-6px;
    transition: 0.5s;
}
.links li a:hover::after{
    width:100%;
}
.content{
    text-align: center;
    display: grid;
    height:80vh;
    width: 100%;
    place-items: center;
    justify-content: center;
    align-content: center;
    padding: 100px 50px;
    font-size: 20px;
}
#myname{
    color: white;
}
.content h1{
     color:rgb(24, 180, 198);
}
.content h3{
    margin-top: 30px;
    color:rgb(24, 180, 198);
}
.content p{
    margin-top: 20px;
}
.content img{
    width:200px;
    margin:20px;
    border-radius: 20px;
}
.roles-flex{
    display: flex;
    gap:10px;
}
.roles-flex p{
    font-size: 40px;
   
    margin-top: -6px;
}
.job-roles{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    height: 40px;
    width: auto;
    border-radius:7px;
    overflow: hidden;
}
.roles{
    color:rgb(24, 180, 198);
    display: block;
    position: relative;
    animation:titles 6s infinite alternate-reverse;
    height: 100%;
    font-size: 34px;  
}
@keyframes titles{
    10%{
       transform: translateY(2%);
    } 
    25%{
        transform: translateY(-102%);
    }
    35%{
        transform: translateY(-100%);
    }
    50%{
         transform: translateY(-202%);
    }
    60%{
        transform: translateY(-200%);
    }
    75%{
        transform: translateY(-302%);
    }
    85%{
        transform: translateY(-300%);
    }
    100%{
        transform: translateY(-402%);
    }
}
.imagerow{
    display:flex;
    flex-direction: row;
    justify-content: center;

}
.imagess.active-img{
    animation-name:slide;
    animation-duration:2s;
    animation-timing-function: linear;
    animation-iteration-count:1;
}
@keyframes slide{
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}
.so-links{
    display: grid;
    grid-auto-flow:column;
}
a .so-link{
    width: 25px;
    border-radius:10px;
    margin:20px 6px;
}
a .so-link:hover{
    opacity: 0.6;
    border-radius: 25px;
    scale: 0.9;
}
.grid{
    display:grid;
    grid-template-columns:2fr 3fr;
    gap:5%;
    margin:10px 5%;
    animation:animate both;
    animation-timeline: view();
    animation-range: entry 20% cover 60vh;
}
.grid img{
    height:470px;
    margin-top: 0px;
}
.aboutpara{
    font-size:20px;
    margin-bottom: 15px;
}
.right-column{
    display: flex;
    flex-direction: column;
    
}
.tab-link{
    display:grid;
    grid-template-rows: repeat(2,auto);
    gap:20px;
}
.tab-links{
    display: inline;
    font-size: 30px;
    margin: 100px 20px 20px 0px;
    position: relative;
    color:rgb(24, 180, 198);;
}
.tab-links::after{
    content:'';
    width:0px;
    height:3px;
    background-color:white;
    position: absolute;
    left:0px;
    bottom:-6px;
    transition: 0.5s;
}
.tab-links.active-link:hover::after{
    width:100%;
}
h3{
    margin-left:20px;
}
.tab-content h2,h3{
    margin:20px 0px 5px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#aboutme .container img{
    width:100%;
    border-radius: 10px;
}
.educationinfo h2{
    color: white;
}
.educationinfo h3{
  color:rgb(24, 180, 198);;
}
.project-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:10px 5%;
    gap:40px;
}
.pro{
    width:auto;
    display: flex;
    padding:20px;
    background-color: rgb(31, 30, 30);
    gap: 40px;
    animation: slidi both;
    animation-timeline: view();
}
.project-info{
    display:flex;
    flex-direction: column;
    
}
@keyframes slidi{
    from{
        opacity:0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.pro-intro{
    margin:10px 5% 20px;
    font-size: 30px;
    opacity: 0.7;
    font-weight:100;
}

#certifications .container{
    width: 100%;
    align-content: center;
    justify-content: center;
}
.certificate-con{
    display:grid;
    grid-template-columns:auto auto;
    margin:10px 5%;
    gap:40px;
}
.courses{
    height:auto;
    display: grid;
    grid-auto-flow:column;
    grid-template-rows:auto auto;
    justify-content:space-between;
    background-color: rgb(31, 30, 30);
    border: 2px solid rgb(24, 180, 198);
    border: none;
    border-radius: 4px;
    padding:15px;
    animation: animate both;
    animation-timeline: view();
    animation-range: entry 20% cover 60vh;

}
@keyframes animate{
    from{
        opacity: 0;
        transform: translateY(100px) scale(0.7);
    }
    to{
        opacity: 1;
        transform:translateY(0) ;
    }
}
.courses h2{
    margin: 0;
    margin-bottom:10px;
}
.courses img{
    grid-row: span 2;
    height: 80px;
    width: auto;
    /*position: absolute;
    right: 50px;
    top:10px;
    */
}

#contactme .container{
    width: 100%;
    justify-content: center;
}
.form{
    background-color: rgb(31, 30, 30);
    border: none;
    border-radius: 10px;
    padding: 40px 40px;
    display: grid;
    height: auto;
    width:auto;
    grid-template-columns:1fr 3fr;
    gap: 20px 50px;
    align-items: center;
    margin:10px 5%;
    animation:animate both;
    animation-timeline: view();
    animation-range: entry 10% cover 20vh;
}
label{
    font-size: 20px;
}
input{
    background-color: rgb(74, 72, 72);
    color: white;
    height:40px;
    border-radius: 4px;
    padding:20px 20px;
    outline: none;
    border: none;
}
label{
    color:rgb(255, 255, 255);
}
textarea{
    background-color: rgb(74, 72, 72);
    color: white;
    border-radius: 4px;
    padding:20px 20px;
    outline: none;
    border: none;
}
#message{
    align-self: start;
}
button{
    background-color:rgb(5, 181, 200);
    color: white;
    grid-column: 2/3;
    justify-self:center;
    padding:10px 50px;
    cursor: pointer;
    border-radius: 6px;
}
button:hover{
    background-color:rgb(3, 59, 64);
    color: rgb(202, 201, 201);
}
#msg{
    grid-column-start: 2;
    text-align: center;
    color:rgb(24, 180, 198);
    margin-top: 10px;
    font-size: 20px;
}
#copyright{
    background-color: rgb(74, 72, 72);
    width: 100%;
    height: 70px;
    text-align: center;
    padding:20px;
    margin:0px;
}
#heart{
    color:rgb(24, 180, 198);
}
@media (max-width:600px){
.content h1{
    font-size: 60px;
}
.imagess{
    display: none;
   
}
.imagess.third{
    display: block;
     width: 100%;
}
.courses h2{
    font-size:0px;
}
.roles-flex p,roles{
    font-size: 40px;
}
 .pro a img{
    width:50px;
    size: 100px;
}
.grid{
    grid-template-columns:auto;
}
.form{
    width: 100%;
}
.pro{
    display:grid;
    grid-template-columns:1fr;
}
img .images{
    width: 10px;
}
}