@import url("https://fonts.google.com/");

*{
    padding:0px;
    margin:0px;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color:rgb(0, 0, 0);
    color:white;
}
#header .container{
    padding-left:3%;
}
.logo{
    display: flex;
}
.logo img{
    width:40px;
    margin-right: 20px;
}
.logo h1{
    margin: 0px auto 0px;
}
h1{
    color: rgb(24, 180, 198);
    font-size: 50px;
    margin:20px 0px 40px;
}
h2{
    margin: 20px 0 20px;
    color: rgb(24, 180, 198);
}
p{
    font-size:25px;
}
.content i{
    font-size: 40px;
    color: white;
}
.images{
    width:400px;
    height: auto;
    border-radius: 5px;
}
.images:hover{
    cursor:pointer;
    border:3px solid rgb(24, 180, 198);
    border-radius:10px;
}
.container{
    padding:10px 5%;
}
#header{
    width:100%;
    height:100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
nav h1{
    font-size:50px;
    color: rgb(24, 180, 198);
    align-self: center;
}
nav ul li{
    list-style:none;
    display: inline;
    margin: 10px 15px;
    position:relative;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.links li a::after{
    content:'';
    width:0px;
    height:3px;
    background-color:rgb(24, 180, 198);;
    position: absolute;
    left:0px;
    bottom:-6px;
    transition: 0.5s;
}
.links li a:hover::after{
    width:100%;
}
.content{
    display:flex column;
    text-align: center;
    height:80vh;
    align-content: center;
    padding: 100px 50px;
    font-size: 20px;
}
.content span{
    color: white;
}
.content h1{
     color:rgb(24, 180, 198);
}
.content h3{
    margin-top: 30px;
    color:rgb(24, 180, 198);
}
.content p{
    margin-top: 20px;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:40px 40px ;
    padding: 40px 40px;
    gap:40px;
}
#education .container{
    position: relative;
}
.educationinfo{
    margin: 80px;
}
#certifications .container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.courses{
    display:flex;
    flex-direction: column;
    max-width:900px;
    border: 2px solid rgb(24, 180, 198);
    border-radius: 4px;
    padding: 20px;
    margin: 20px 80px;
    position: relative;
}
.courses img{
    width: 150px;
    position: absolute;
    right: 50px;
    top:10px;
}
.form{
    border: 2px double rgb(24, 180, 198);
    border-radius: 10px;
    margin:40px 80px ;
    padding: 40px 40px;
    display: grid;
    height: auto;
    max-width:900px;
    grid-template-columns:1fr 3fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
label{
    font-size: 20px;
}
input{
    height:40px;
    border-radius: 4px;
    padding:20px 20px;
    outline: none;
    border: none;
}
label{
    color:rgb(24, 180, 198);
}
textarea{
    border-radius: 4px;
    padding:20px 20px;
    outline: none;
    border: none;
}
#message{
    align-self: start;
}
button{
    background-color:rgb(24, 180, 198);
    color: white;
    grid-column: 2/3;
    justify-self:center;
    padding:10px 50px;
    cursor: pointer;
}