@import url("https://fonts.google.com/");

*{
    padding:0px;
    margin:0px;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color:black;
    color:white;
}
h2{
    margin: 20px 0 20px;
    color: rgb(24, 180, 198);
}
img{
    width:500px;
    height: auto;
    border-radius: 10px;
}
#header{
    width:100%;
    height:100vh;
}
.container{
    padding:20px 5%;
    margin:0px 10% 100px;
 
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
nav h1{
    font-size:50px;
    color: rgb(24, 180, 198);
}
nav ul li{
    list-style:none;
    display: inline;
    margin: 10px 15px;
    position:relative;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.links li a::after{
    content:'';
    width:0px;
    height:3px;
    background-color:rgb(24, 180, 198);;
    position: absolute;
    left:0px;
    bottom:-6px;
    transition: 0.5s;
}
.links li a:hover::after{
    width:100%;
}
.content{
    display:flex column;
    text-align: center;
    height:80vh;
    align-content: center;
    padding: 100px 50px;
    font-size: 20px;
}
.content h3{
    margin-top: 30px;
    color:rgb(24, 180, 198);
}
.content p{
    margin-top: 20px;
}
#projects h1{
    font-size: 50px;
    margin-bottom:40px;
}
.project-h2{
    font-size: 30px;
    
    color:rgb(24, 180, 198);
}
.project-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
}
#education .container h1{
    font-size: 50px;
}
